
input {
    display: block;
    margin-bottom: 1rem;
}


/* */
table {
    border-collapse: collapse;
    border-left: 2px solid pink;
    border-top: 2px solid pink;
}
th, td {
    border-right: 2px solid pink;
    border-bottom: 2px solid pink;
    padding: 2px 4px 2px 4px;
}

/* */
.o-display-list {
    // border: 2px solid pink;
}

